body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    display: flex;
    flex-direction: column;
}
.log-bodies {
    flex-direction: row;
    display: flex;
}

.site-left {
    margin: 20px; /* Space around the border */
    padding: 20px; /* Space inside the border */
    flex-direction: row;
    flex: 3;
    background-color: white;
    border-radius: 15px;
}

.heading {
    color: yellow;
}

.site-right {
    margin: 20px; /* Space around the border */
    padding: 20px; /* Space inside the border */
    color: white;
    flex-direction: row;
    flex: 1;
}

.site-right button{
    background-color: red;
    color: white;
    font-size: 32px;
    border-radius: 5px;
}

.site-right button:hover {
background-color: gold;
}

.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.logo img {
    height: 50px; /* Adjust based on your logo */
}

.site-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.site-nav ul li {
    margin-left: 20px;
}

.site-nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.site-nav ul li a:hover {
    color: red;
}

.site-nav ul li a:active {
    color: red;
}

.site-footer {
    color: white;
    text-align: left;
    padding: 20px 10px;
}